 .one h1 {
    text-align: center;
}

.one {
    width: 80%;
    margin: auto;
}

body {
    background-color: darkgrey;
}

.two h1 {
    text-align: center;
}

.two {
    width: 90%;
    margin: auto;
}

.Pandora {
    width: 20%;
    height: 150px;
    background-color: white;
    border-radius: 50% 0% 50% 0%;
    display: inline-flex;
    margin: 0px 20px;
}

.box {
    width: 80%;
    margin: auto;
}